<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio en Desarrollo</title>
    <link rel="stylesheet" href="/css/enDesarrollo.css">
</head>
<body>
    <!-- HEADER -->
    <div id="header"></div>
    {% include 'header1_NoLog.html' %}
    <div class="container">
        <h1>Sitio en Desarrollo</h1>
        <p>Estamos trabajando para ofrecerte una mejor experiencia. Gracias por tu paciencia.</p>
        <button class="redirect-button" onclick="window.location.href='/getPgetPrincipalNo_Log'">Ir a la página principal</button>
    </div>
    </div>
    <!-- Insert in your HTML files where you want the footer -->
    <div id="footer-placeholder"></div>
    {% include 'footer.html' %}
</body>
</html>
