<footer>
  <div class="footer-links">
    <div class="help">
      <h4>Help</h4>
      <p><a href="https://get.bandcamp.help/hc/es-mx">FAQ</a></p>
      <p><a href="https://get.bandcamp.help/hc/es-mx">Customer Service</a></p>
      <p><a href="https://get.bandcamp.help/hc/es-mx">How-to guides</a></p>
      <p><a href="https://www.instagram.com/bandcamp/#">Contact us</a></p>
    </div>
    <div class="other">
      <h4>Other</h4>
      <p><a href="https://bandcamp.com/privacy">Privacy Policy</a></p>
      <p><a href="https://bandcamp.com/about">Sitemap</a></p>
      <p><a href="https://daily.bandcamp.com/">Subscriptions</a></p>
    </div>
  </div>

  <style>
    footer {
      width: 100%;
      background-color: #333;
      color: white;
      padding: 20px;
      box-sizing: border-box;
    }

    footer .footer-links {
      width: 100%;
      display: flex;
      justify-content: space-between; 
      align-items: flex-start;
      padding: 0 20px; 
    }

    footer .footer-links a {
      color: white;
      text-decoration: none;
      display: block;
      margin-bottom: 5px;
    }

    footer .footer-links .other {
      text-align: left;
    }

    footer .footer-links .help {
      text-align: right;
    }
  </style>
</footer>
