<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Exitoso</title>
    <link rel="stylesheet" href="/css/pagoexito.css">
</head>
<body>


    <main>
        <h1>¡Tu pago fue exitoso!</h1>
        <p>Gracias por tu compra. Puedes revisar los detalles en tu perfil.</p>
    </main>

    <!-- Insert in your HTML files where you want the footer -->
    <div id="footer-placeholder"></div>
    {% include 'footer.html' %}

</body>
</html>
